<!DOCTYPE html>
<html lang="en" ng-app="dada" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet"  href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script th:src="@{../../static/common/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
    <script th:src="@{../../static/common/js/angular/angular-1.6.1/angular.min.js}" type="text/javascript"></script>
    <script th:src="@{../../static/config.js}" type="text/javascript"></script>

</head>
<body layout:fragment="content">

</body>
</html>